@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <section class="col-md-12 text-center" aria-labelledby="videoTitle">
            <video width="720" height="480" controls>
                <source src="C:\Users\unkno\Desktop\Quod\videoplayback (2).mp4" type="video/mp4">
            </video>
        </section>
    </div>
</main>
